@tailwind base;
@tailwind components;
@tailwind utilities;


/*.......animated text..................*/
.dynamic li {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  color:hsl(var(--p) / var(--tw-text-opacity));

  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
.wrapper .dynamic {
  line-height: 23px;
  height: 23px;
  overflow: hidden;
}
.dynamic li span {
  position: relative;
}
.dynamic li span::after {
  content: "";
  position: absolute;
  border-left: 4px solid hsl(var(--p) / var(--tw-text-opacity));
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(var(--b1) / var(--tw-bg-opacity));

  background-opacity : 0.1;

  animation: typing 2s steps(18) infinite;
}

@keyframes slide {
  100% {
    top: -90px;
  }
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@media screen and (min-width: 1024px) {
  .dynamic li {
    font-size: 50px;
  }
  .wrapper .dynamic {
    line-height: 63px;
    height: 63px;
  }
  @keyframes slide {
    100% {
      top: -252px;
    }
  }
}

@media (768px <= width <=1024px) {
  .dynamic li {
    font-size: 26px;
  }
  .wrapper .dynamic {
    line-height: 32px;
    height: 32px;
  }
  @keyframes slide {
    100% {
      top: -126px;
    }
  }
}
